<p>ruta-login works!</p>

<!-- directiva ng-if -->
<button class="btn btn-primary " (click) = "mostarPrimerComponente = !mostarPrimerComponente">
{{mostarPrimerComponente ? 'ocular' : 'mostrar'}}
</button>
<app-mostrar-usuario *ngIf="mostarPrimerComponente"></app-mostrar-usuario>
<hr>
<app-mostrar-usuario></app-mostrar-usuario>

<!-- directivas *ngFor -->
<div class="row">
    <div class="col-sm-6"  *ngFor="let itemUsr of usuarios">
        <app-mostrar-usuario  [usuario] = "itemUsr"></app-mostrar-usuario>
    </div>
</div>
